<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727420209440-ehbklvjqfnghkjefqni20jvlddl3nl25.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727420209440-ehbklvjqfnghkjefqni20jvlddl3nl25</string>
	<key>API_KEY</key>
	<string>AIzaSyBipxh9aFTPWCx-3p_MEJAMmjcQR1n_Msc</string>
	<key>GCM_SENDER_ID</key>
	<string>727420209440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ChangTingWei.EBookExample</string>
	<key>PROJECT_ID</key>
	<string>holochat-fceea</string>
	<key>STORAGE_BUCKET</key>
	<string>holochat-fceea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727420209440:ios:82e3fb97efb5a469eaaf45</string>
</dict>
</plist>